<!-- see once we have submitted form/register user-->
<!-- an email verification was sent to your email-->

{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>

    body{
        background-color: gray;
    }

</style>

<body>

    <br>  <!--this make it that form is not touching home bar-->

    <div class="container bg-white shadow-md p-5 form-layout" >

        <div class="text-center">
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
        
    
        <br> <br>

        <h5> <strong>A verification link was sent to your email!</strong> </h5>

        <hr>
        </div>

    </div>

</body>

{% endblock %}